themes {
    github-dark {
        fg "#f0f6fc"
        bg "#0d1117"
        black "#484f58"
        red "#ff7b72"
        green "#3fb950"
        yellow "#d29922"
        blue "#58a6ff"
        magenta "#bc8cff"
        cyan "#39c5cf"
        white "#b1bac4"
        orange "#ffa657"
    }
}
